<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
  <input type="text" name="name" value="user_name">
  <input type="text" name="email" value="user_email">
  <input type="text" name="password" value="user_password">

</form>
